<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

</head>
<body ng-controller="HomeController">
  <div class="masthead-container">
    <div id='map'>
    </div>
    <nav class="logo">
      <h1>SuperDuber</h1>
    </nav>
    <div class = "button-container">
      <a href="#" onclick="oauthRedir()" class="oauth-btn">Login With Uber</a>
    </div>
  </div>
  <div  ng-controller="HomeController" class="content-container">


    <h2>Schedule a new event for Uber pickup:</h2>
    <form class="event-form hidden" novalidate ng-controller="HomeController" ng-submit="submitForm(form)">
      <label>Event Name:</label>
      <input class= "name" type="text" ng-model="form.name"> </input>

      <label>Depart Address:</label>
      <input class="dep-addr" type="text" ng-model="form.depart_address"> </input>

      <label>Arrive Address:</label>
      <input class="arr-addr" type="text" ng-model="form.arrival_address"> </input>

      <label>Date & Time (local):</label>
      <input class="arr-date" type="datetime-local" ng-model="form.arrival_datetime"> </input>

      <input class="submit-btn" type="submit">

    </form>

    <hr />
    <h2>Your Upcoming Events:</h2>
    <div class="event-container" ng-repeat="event in events">
      <div class="event">
        <div class="event-content">
          <p class="hidden" id="event-id">{{ event._id.$oid }}</p>
          <p class="event-name">Name: {{ event.name }}</p>
          <p class="arr-date">Date: {{ event.arrival_datetime | date:'MMMM d, yyyy @ h:mma' }}</p>
          <p class="dep-addr">Depart From: {{ event.depart_address }}</p>
          <p class="arr-addr">Arrive At: {{ event.arrival_address }}</p>
          <div class="ud-btns">
            <div class="edit-btn">
              <i class="fa fa-pencil"></i>Edit
            </div>
            <div class="delete-btn">
              <i class="fa fa-trash-o"></i>Delete
            </div>
          </div>
        </div>

        <form class="edit-form hidden" novalidate ng-submit="editForm(form)">
          <p class="hidden" id="edit-event-id">{{ event._id.$oid }}</p>
          <label>Name</label>
          <input class= "name" type="text" value="{{event.name}}"></input>

          <label>Depart Address</label>
          <input class="dep-addr" type="text" value="{{event.depart_address}}"> </input>

          <label>Arrive Address</label>
          <input class="arr-addr" type="text" value="{{event.arrival_address}}"> </input>

          <label>Date</label>
          <input class="arr-date" value="{{ event.arrival_datetime | date: 'yyyy-MM-ddTHH:mm:ss'}}" type="datetime-local" ></input>
          <input class="submit-btn" type="submit">
        </form>

      </div>
    </div>
  </div>
</body>
</html>