  <div class="masthead-container">
    <div id='map'>
    </div>
    <nav class="logo">
      <h1>SuperDuber</h1>
    </nav>
    <div class="button-container">
      <a href="/oauth2" class="oauth-btn">Login With Uber</a>
    </div>

    <div class="content-container">
      <h2>How it Works</h2>
      <ol>
        <li></li>
      </ol>
    </div>
