  <div class="masthead-container">
    <div id='map'>
    </div>
    <nav class="logo">
      <h1>SuperDuber</h1>
    </nav>
    <div class="button-container">
      <a href="/oauth2" class="oauth-btn">Login With Uber</a>
    </div>
  </div>

  <div class="content-container">
    <h2>How it Works</h2>
    <ul>
      <li>Login to our site with Uber, add your phone number so we know how to message you, and you're good to go!  No extra passwords to remember.</li>
      <li>Add your upcoming events to the system -- you give us the event time and location, where you're leaving from, and what type of ride you'd like to take, and we'll handle the rest.  (Coming soon: optional Apple and Google calendar integration).</li>
      <li>As your event gets closer, SuperDuber will monitor traffic conditions along your route, as well as your estimated pickup wait time, to determine the most optimal time for you to request an Uber.</li>
      <li>When the time is right, we'll send a text notification to your phone reminding you of the upcoming event, and letting you know the estimated cost, pickup wait time and ride duration.  All you have to do is click a link and a driver will be dispatched to your location! If there are any changes to the ride status, we'll update you with those too.  (Note if Uber is surging, we'll first direct you to their website to confirm the higher pricing).</li>
      <li>If you need to cancel a ride request, just reply 'Abort' to our text message and we'll cancel it right away.  (Unfortunately the keywords 'cancel' and 'stop' are reserved by Twilio to disable future notifications from us, so don't send that unless that's your goal!)</li>
    </ul>
  </div>

