<h3>Thanks, <%= event.user.first_name %>!  Your Uber has been requested!  We'll send you a text message as soon as a driver is on the way.</h3>

<form action="/users/cancel_ride_via_web?event_id=<%= event.id.to_s %>" method="post">
  <input value="Click to Cancel Request" class="submit-btn" type="submit" />
</form>