// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$superblue: #1FBAD6;
$superblue-hover: #34A7BC;
$border-rad: 4px;
$title-color: rgb(251, 234, 129);


body{
  margin:0;
  padding:0;
}

.hidden{
  display:none;
}
.debug{
  border:1px solid red;
}
#map{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height:455px;
  background-color:black;
}

.masthead-container{
  width: 100%;
  height: 455px;
  position: relative;
}

.button-container{
  position: absolute;
  height: auto;
  width: 8.3em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.oauth-btn{
  border: none;
  border-radius: $border-rad;
  font-size: 1em;
  padding: 0.5em;
  background: $superblue;
  color: white;
  width: 12em;
  font-family: sans-serif;
  text-decoration: none;
}

.oauth-btn:hover{
  background-color: $superblue-hover;
}

.logout-btn {
  border: none;
  border-radius: $border-rad;
  font-size: 1em;
  padding: 0.5em;
  background: $superblue;
  color: white;
  width: 3em;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-top: 1em;
}

.logout-btn:hover{
  background-color: $superblue-hover;
}

.logout-container{
  position: absolute;
  height: auto;
  width: 8.3em;
  left: 95%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  font-family: sans-serif;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo h1{
  display: inline-block;
  color: $title-color;
}


.prof-pic img {
  border: 2px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: auto;
  float: left;

}

.prof-pic {
  display: inline-block;
  /* border: 1px solid red; */
  width: 10em;
}

.content-container{
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  background-image: url("/images/concrete_seamless.png");
  border-top: 1px solid gray;
}

.content-container h2{
  font-family: helvetica;
  text-align: center;
}

.event{
  border: 1px solid lightgray;
  width: 40em;
  background: rgb(251, 248, 248);
  margin: auto;
  font-family: helvetica;
  text-align: center;
  border-radius: $border-rad;
}

.event-form {
  border: 1px solid lightgray;
  width: 20em;
  margin: 2em auto;
  text-align: center;
  font-family: helvetica;
  padding-top: 1em;
}

input.name, input.dep-addr, input.arr-addr, input.arr-date{
  height: 2em;
}

.name, .dep-addr, .arr-addr, .arr-date {
  display: block;
  /* margin-bottom: 1em; */
  margin: .5em auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: .8em;
  width: 22em;
}
.radio-btns{
  text-align:left;
  width: 7em;
  margin:1em auto;
}
.radio-btns input{
  margin:0 auto;
  text-align:center;
}



.submit-btn{
  margin-top: 1.7em;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: $border-rad;
  margin-bottom: 1em;
}
.submit-btn:hover{
  background-color:lightgray;
  color:white;
}

.button-container h2{
  color:white;
  font-family: helvetica;
  text-align: center;
}

.delete-btn:hover {
  background-color: rgb(255, 75, 75);
  color: white;
  border: 1px solid rgb(255, 75, 75);

}
.edit-btn:hover {
  background-color: #4B81FF;
  color: white;
  border: 1px solid #4B81FF;
}

.ud-btns div{
  display: inline-block;
  padding: .3em;
  border-radius: 4px;
  color: gray;
  cursor:pointer;
  border:1px solid lightgray;
  margin-bottom: 1em;
  background-color: transparent;
}

.event-content p {
  padding: .5em;
}

// Edit events

.edit-container{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-image: url("/images/concrete_seamless.png");
}
.edit-title{
  text-align: center;
  font-family: sans-serif;
}
.edit-form{
  font-family: sans-serif;
}
.txt-inputs-container label {
  display: block;
  text-align: center;
}

.edit-radio-btns label {
  display: block;
}

.edit-radio-btns {
  width: 7em;
  margin: 1em auto;
}

.edit-form input.submit-btn{
  display: block;
  margin: .5em auto;
}