<!DOCTYPE html>
<html ng-app='superduber'>
<head>
  <base href = "/">
  <title>Superduber</title>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
</head>
<body>

  	<div ng-view> </div>

	<div id="thankYouModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<h2>Thank You</h2>
			<p> Thank you for submitting an event, we will monitor traffic patterns 
	  		and suggest a time to request your uber so you make it on time!</p>
		</div>
	</div>



</body>
</html>
